    <div id="description">
      <p>自分の大好きな手帳をちゃんと使ってあげられるように、作ってみました。GoogleCalendarから予定を取得して、最近追加した順番に予定を表示します。↓のように表示します:</p>
      <img src="https://farm3.staticflickr.com/2904/14104108240_51b4725de2_z.jpg" width="640" height="310" alt="GoogleCanendar2DailyPlanner" class="img-responsive img-thumbnail">
    </div>
