<div class="row">
  <div class="col-md-8">
    <h2>手帳をもっと楽しく使おう！</h2>
    <p class="lead"><a href='./'>GCal2DailyPlanner</a>はGoogleCalendarと手帳の愛好者のためのツールです。</p>
    <a href="http://www.flickr.com/photos/newswalker/3977216872" title="P1010769 by katudooooon,  on Flickr">
      <img src="http://farm3.staticflickr.com/2587/3977216872_c072e49d89_z.jpg" class="img-rounded img-responsive" width="640" height="360" alt="P1010769">
    </a>
    <h3>こんなこと、ありませんか？</h3>
    <p>お気に入りの手帳を持っているけれど、忙しくて更新するのはGoogleCalendarばかり。思い出して手帳に予定を転記してみようとしたのだけれど、どの予定が転記済みなのかわからない。面倒くさくなって、結局手帳は放ったらかし。</p>
    <p>GoogleCalendarに予定を追加した順番がわかれば、手帳に転記しやすいのに！</p>
    </p>
    <h3>作ってみました</h3>
    <p style="text-align: right" id="more"><a href="#">more...</a></p>
    <div id="description"></div>
  </div>
  <div class="col-md-4">
    <h3>使ってみよう</h3>
    <p>
    <a href='./'>GCal2DailyPlanner</a>はGoogleCalendarから情報を取得します。Googleから情報を取得するためには、事前にGoogleにログインする必要があります。このボタンをクリックしていただくと、Googleにログインします。
    </p>
    <button type="button" class="btn btn-primary" id="login">Sign in with Google</button>
  </div>
</div>
