      <div class="row">
        <div class="col-md-9">
          <h2>最近更新した GoogleCalendar のイベント情報</h2>
          <p><%= @user.name %>さんが最近更新した GoogleCalendar のイベント情報を表示します:</p>
          <div id="event-contents"></div>
        </div>
        <div class="col-md-3 hidden-xs">
          <h2>更新情報</h2>
          <h2>各種操作</h2>
          <h3>最新の予定を取得</h3>
          <p>このボタンをクリックすると、GoogleCalendarから最新の予定を取得します。</p>
          <button type="button" class="btn btn-default" id="update">最新の予定を取得</button>
        </div>
      </div>
